imageio==2.22.0
ipython==7.19.0
python-dotenv==0.20.0
matplotlib==3.5.2
numpy==1.22.3
opencv-python==4.6.0.66
pandas==1.4.3
pip==22.2.2
protobuf==3.19.4
Pygments==2.7.3
scipy==1.8.1
tensorboard==2.9.1
thop==0.1.1.post2207130030
timm==0.6.7
torch==1.10.0
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.64.0
vit-pytorch==0.35.8
yolov5==6.1.6

pathlib~=1.0.1
glob2
Pillow==9.2.0
scikit-learn==1.1.2
wheel==0.37.1
Shapely==1.8.2
sahi==0.10.1

ultralytics

flask
grpcio
grpcio-tools

redis

scikit-image~=0.19.3